<div class="card-centered-wrapper">
  <form (ngSubmit)="f.form.valid && login()" #f="ngForm" class="ui form">
    <md-card class="card-centered-600">
      <md-card-title i18n>Login</md-card-title>
      <md-card-content>
        <div>
        <md-input-container class="title-input">
          <input mdInput type="email" #username="ngModel" required [(ngModel)]="model.username" placeholder="Email" i18n-placeholder maxlength="100" name="username">

        </md-input-container>
        </div>
        <div>
        <md-input-container class="title-input">
          <input mdInput type="password" #password="ngModel" required [(ngModel)]="model.password" placeholder="Password" i18n-placeholder maxlength="100" name="password">

        </md-input-container>
        </div>

        <div *ngIf="error" class="alert alert-danger">{{error}}</div>

      </md-card-content>
      <md-card-actions align="end">
        <button [disabled]="!f.form.valid" md-button type="submit" i18n>LOGIN</button>

      </md-card-actions>
    </md-card>
  </form>
</div>
